head {
    text-align: center;
}
body{
    background-color: #86aedf;
}
    button { padding: 5px;

    }
#image1 { background-image: url(final1pic.svg);
     width: 90px;
        height: 90px;
     }
     #Fullname {
         text-align: center;
     }
#idcard {
background-color: salmon;
    border: 5px solid black;
height: 14em;
    width: 25em;
    border-radius: 10px;
    text-align: left;
    }
#boxes { 
text-align: center;
}